/*MindYou商城全局样式开始*/

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	outline: none;
	/*去掉搜索框点击时候的边框*/
}

/*MindYou商城全局样式结束*/


/*成功添加页面的主题开始*/
#Mind_Success{width: 100%;background-color:#f5f5f5;}
.Success_box{width: 1225px; border: 3px solid blue; margin: 0px auto; }
.Success_Tips_box{width: 100%; margin: 0px auto;overflow: hidden;padding-bottom: 30px;border-bottom: 1px solid #e0e0e0;}
.Tips_box_lef{width: 400px; float: left;}
.Tips_box_lef>img{float: left;margin-right: 15px;}
.Tips_box_lef>h3{
    color: #424242;
    font-size: 24px;
    font-weight: normal;
    margin-top: 3px;}

.Tips_box_lef>h4{    
	margin-right: 15px;
    font-size: 14px;
    color: #757575;margin-top: 10px;}   
    
.Tips_box_right{width: 400px; float: right;margin-top: 12px;}
.box_right_a1{width: 180px;height: 40px; border: 1px solid rosybrown;display: block;float: left;text-align: center;border-color: #b0b0b0;line-height: 40px;}
.box_right_a1:hover{background-color: white;}
.box_right_a2{width: 180px;height: 40px; border: 1px solid rosybrown;display: block;float: left;margin-left: 20px;background-color: #ff6700;border-color: #ff6700;color:white;text-align: center;line-height: 40px;}
.box_right_a2:hover{color: white;}
/*清除浮动开始*/
  .clear:after,.clear:before{
        content: "";
        display: table;
    }
    .clear:after{
        clear: both;
    }
    .clear{
        *zoom: 1;
    }
/*清除浮动结束*/

.Success_Recommend_box{width: 100%;margin-top: 5px;border: 5px solid red;overflow: hidden;padding-bottom: 50px;}
.Recommend_box_top{width: 100%;margin-top: 10px;}
.Recommend_box_top>h2{font-size: 25px;text-align: center;color: #757575;}
.box_bottom{width: 1210px;margin-top: 20px; }
.box_bottom li{width: 234px;height: 300px; border: 1px solid red;float: left;margin-left: 57px;margin-top: 10px;background-color: #fff;}


/*成功添加页面的主题结束*/